<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.post.title%>
</p>

<%= link_to 'Edit', edit_comment_path(@comment), class:"btn btn-primary"  %>
<%= link_to 'Back', comments_path, class:"btn btn-dark"  %>
