<%= form_with(model: tag_info, local: true) do |form| %>
  <% if tag_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_info.errors.count, "error") %> prohibited this tag_info from being saved:</h2>

      <ul>
      <% tag_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :player %>
    <%= form.collection_select(:player_id, Player.all, :id, :player_name, { :prompt => 'Select a Player', :selected => @tag_info.player_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.collection_select(:post_id, Post.all, :id, :title, { :prompt => 'Select a Post', :selected => @tag_info.post_id }, { class: 'form-control' }) %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
