<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tag_info.title %>
</p>

<p>
  <strong>Player:</strong>
  <%= @tag_info.player.player_name %>
</p>

<p>
  <strong>Post:</strong>
  <%= @tag_info.post.title %>
</p>

<%= link_to 'Edit', edit_tag_info_path(@tag_info), class:"btn btn-primary" %>
<%= link_to 'Back', tag_infos_path, class:"btn btn-dark" %>