<p id="notice"><%= notice %></p>

<p>
  <strong>Sport name:</strong>
  <%= @sport.sport_name %>
</p>

<p>
  <strong>Sport equipments:</strong>
  <%= @sport.sport_equipments %>
</p>

<h2>Players</h2>
<% for playerdetail in @sport.playerdetails %>
    <ul>
      <li><%= playerdetail.name %></li>
  </ul>
<% end %>

<h2>Posts</h2>
<% for post in @sport.posts %>
    <ul>
      <li><%= post.title %></li>
  </ul>
<% end %>

<h2>Annocements</h2>
<% for annocement in @sport.annocements %>
    <ul>
      <li><%= annocement.title %></li>
  </ul>
<% end %>

<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_sport_path(@sport), class:"btn btn-primary" %>
<%= link_to 'Add Player', sport_playerdetails_path(@sport), class:"btn btn-primary" %>
<%= link_to 'Add Post', sport_posts_path(@sport), class:"btn btn-primary" %>
<%= link_to 'Add Annocement', sport_annocements_path(@sport), class:"btn btn-primary" %>
<% end %>
<%= link_to 'Back', sports_path, class:"btn btn-dark" %>