<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table class="table table-striped">
  <thead class="table-dark" id="annocementTable">
    <tr>
      <th>Title</th>
      <th>Sport</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @annocements.each do |annocement| %>
      <tr>
        <td><%= annocement.title %></td>
        <td><%= annocement.sport.sport_name%></td>
        <td><%= link_to 'Show Sport', [@sport, annocement] %></td>
        <td><%= link_to 'Edit annocement', edit_sport_annocement_path(@sport, annocement) %></td>
        <td><%= link_to 'Destroy Annocement', [@sport, annocement], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'New Announcement', new_sport_annocement_path(@sport), class:"btn btn-primary" %>