<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @annocement.title %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @annocement.sport.sport_name %>
</p>
<% if ((@annocement.user == current_user) || (current_user.admin?)) %>
  <%= link_to 'Edit', edit_sport_annocement_path(@sport, @annocement), class:"btn btn-primary" %>
<% end %>
<%= link_to 'Back', sport_annocements_path(@sport), class:"btn btn-dark" %>
