<h1>Welcome</h1>
<% if current_user %>
  <p>Hello<%= current_user.email %>!</p>
  <p>You are a [<%= current_user.role %>]</p>
  <% if current_user.admin? %>
  There are <%= User.count %> user in the system.
  <% end %>
  <p>
  Successfully authentication login 
  </p>
   <%= link_to "Sign out",destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
<% else %>
  <p>You are not signed In please sign in</p>
  <%= link_to "Sign up!",new_user_registration_path, class:"btn btn-primary" %>
  <%= link_to "Login",new_user_session_path, class:"btn btn-primary" %>
<% end %>