<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table class="table table-striped" id='dataid'>
  <thead class="table-dark">
    <tr>
      <th>Image</th>
      <th>Player name</th>
      <th>Email</th>
      <th>Player city</th>
      <th>Player state</th>
      <th>Player country</th>
      <th>Player mobileno</th>
      <th>Sport</th>
      <th>Gender</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><img src="<%= player.image %>" class= "p-show"></td>
        <td><%= player.player_name %></td>
        <td><%= player.email %></td>
        <td><%= player.player_city %></td>
        <td><%= player.player_state %></td>
        <td><%= player.player_country %></td>
        <td><%= player.player_mobileno %></td>
        <td><%= player.sport.sport_name %></td>
        <td><%= player.gender %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$(document).ready(function() {
        var pTable = $('#dataid').DataTable({})
    });
</script>

<br>

<%= link_to 'New Player', new_player_path,class:"btn btn-primary" %>
