<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Player Name:</strong>
  <%= @post.player.player_name %>
</p>

<p>
  <strong>Sport Name:</strong>
  <%= @post.sport.sport_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
