<p id="notice"><%= notice %></p>

<p>
  <strong>Awards:</strong>
  <%= @achievement.awards %>
</p>

<p>
  <strong>Player Name:</strong>
  <%= @achievement.player.player_name %>
</p>

<p>
  <strong>Medals:</strong>
  <%= @achievement.medals %>
</p>

<p>
  <strong>Staus:</strong>
  <%= @achievement.status %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement), class:"btn btn-primary" %>
<%= link_to 'Back', achievements_path, class:"btn btn-dark" %>